[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, atom_naming_convention, #{regex => "^([a-z][A-Za-z0-9]*_?)*$"}}]},
     #{dirs => ["test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [{elvis_style, no_debug_call, disable}]}]}]}].
